#site-title {
    color: darkslategrey;
}

body {
    background-image: url(https://www.sortiraparis.com/images/80/1467/534046-visuel-paris-tour-eiffel-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 300px);
}

header{
    font-style: oblique;
    height: 80px;
    border-style: double;
    border-radius: 10px;
    text-align: center;
}

main {
    height: calc(vh-120px);
    border-radius: 10px;
    border-style: ridge;
    color: teal;
    font-style: initial;
  }

  ol li {
    color: brown;
  }

  footer {
    height: 300px;
    border-radius: 10px;
    border-style: solid;
    color: brown;
  }


